@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

:root {
    --white: #faf5ff;
    --white-purple: #f3e8ff;
    --light-lavender: #e9d5ff;
    --dark-lavender: #d8b4fe;
    --darker-lavender: #c084fc;
    --pink-purple: #a855f7;
    --dark-pinkpurple: #9333ea;
    --purple: #7e22ce;
    --dark-purple: #6b21a8;
    --darker-purple: #581c87;
}

* {
    margin: 0;
    padding: 0;
}

.maingrid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


.sidebar {
    font-family: Orbitron;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-left: 1vw;
    padding-top: 2vh;
    background-color: var(--white);
    font-size: 1vw;
}

.sidebar-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .7vw;
}

.logo {
    height: 6vh;
    width: 4vw;
}

.sidebar-middle, .sidebar-bottom{
    font-size: 1.5vh;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;   
}

.icon {
    height: 3vh;
    width: 3vw;
}

.sidebar-middle div, .sidebar-bottom div {
    display: flex;
    align-items: center;
}

.sidebar-middle div:hover, .sidebar-bottom div:hover {
    color: var(--pink-purple);
    cursor: pointer;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--light-lavender);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    box-shadow: 0px 4px 5px -2px black;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.htop-left {
    display: flex;
}

.header-search {
    width: 35vw;
    height: 2vh;
    border-radius: 1em;
    border-style: none;
    padding: 5px;
}

.htop-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.htop-right p {
    font-family: Orbitron;
    font-size: 1vw;
    font-weight: 800;
}

.header-profile-pic {
    height: 4vh;
    border-radius: 50%;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hbottom-left {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.hbottom-profilepic {
    border-radius: 50%;
    height: 8vh;
}

.welcome {
    display: grid;
    font-family: Orbitron;
    font-weight: 500;
}

.profile-name {
    font-size: 1.5em;
}

.hbottom-right {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.hbottom-right button {
    width: 5vw;
    height: 3vh;
    border-radius: 25px;
    border-style: none;
    font-family: Orbitron;
    font-size: .9em;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--white-purple);
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.content-left {
    background-color: var(--white-purple);
    display: grid;
    grid-template-columns: 27vw 23vw;
    grid-template-rows: 8% repeat(3, 30%);
}

.content-left-heading, .announcements-header {
    margin:1.5rem;
    font-family: Orbitron;
    font-size: .6vw;
}

.card {
    background-color: var(--white);
    font-family: Orbitron;
    width: 24vw;
    height: 8vw;
    border-radius: 10px 10px 10px 10px;
    margin-left: 1em;
    padding: 1em;
    font-size: 0.9vw;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    border-left: 12px solid var(--darker-purple);
    box-shadow: 0px 8px 5px -4px rgb(67, 67, 67);
}

.card-icons-box {
    justify-self: end;
}

.icon-card {
    height: 3vh;
    width: 3vw;   
}

.icon-card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.context {
    max-width: 35ch;
    font-size: .8em;
}

.content-right {
    font-family: Orbitron;
    background-color: var(--white-purple);
    display: grid;
    grid-template-rows: 40vh 40vh;
}

.announcements-container, .trending-container {
    display: grid;
    grid-template-rows: 10% 60%;
    border: black;
    padding-right: 2em;
    row-gap: 20px;
}

.announcements-child-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    justify-self: center;
    align-content: center;
    background-color: var(--white);
    width: 65%;
    height: 85%;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px -2px rgb(0, 0, 0);
}

.top-child, .middle-child {
    box-shadow: 0px 2px 3px -2px rgb(110, 110, 110);
    position: relative;
}

.top-child, .middle-child, .bottom-child {
    padding: .3em;
}

.trending-pic {
    background-position: center;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    object-fit: cover;
}

/* .trending-container {
    padding-right: 2em;
    width: 65%;
} */

.trending {
    background-color: var(--white);
    padding: 2em;
    justify-self: center;
    align-content: center;
    border-radius: 10px;
}

.profile-trending {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-content: center;
    justify-content: flex-start;
}


