@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

:root {
    --white: #faf5ff;
    --white-purple: #f3e8ff;
    --light-lavender: #e9d5ff;
    --dark-lavender: #d8b4fe;
    --darker-lavender: #c084fc;
    --pink-purple: #a855f7;
    --dark-pinkpurple: #9333ea;
    --purple: #7e22ce;
    --dark-purple: #6b21a8;
    --darker-purple: #581c87;
}

* {
    margin: 0;
    padding: 0;
}

.maingrid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


.sidebar {
    font-family: Orbitron;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-left: 1vw;
    padding-top: 2vh;
    background-color: var(--white);
    font-size: 1vw;
}

.sidebar-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .7vw;
}

.logo {
    height: 6vh;
    width: 4vw;
}

.sidebar-middle, .sidebar-bottom{
    font-size: 1.5vh;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;   
}

.icon {
    height: 3vh;
    width: 3vw;
}

.sidebar-middle div, .sidebar-bottom div {
    display: flex;
    align-items: center;
}

.sidebar-middle div:hover, .sidebar-bottom div:hover {
    color: var(--pink-purple);
    cursor: pointer;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--light-lavender);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.htop-left {
    display: flex;
}

.header-search {
    width: 35vw;
    height: 2vh;
    border-radius: 1em;
    border-style: none;
    padding: 5px;
}

.htop-right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.htop-right p {
    font-family: Orbitron;
    font-size: .7vw;
}

.header-profile-pic {
    height: 4vh;
    border-radius: 50%;
}

.header-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hbottom-left {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.hbottom-profilepic {
    border-radius: 50%;
    height: 8vh;
}

.welcome {
    display: grid;
    font-family: Orbitron;
    font-weight: 500;
}

.profile-name {
    font-size: 1.5em;
}

.hbottom-right {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.hbottom-right button {
    width: 5vw;
    height: 3vh;
    border-radius: 25px;
    border-style: none;
    font-family: Orbitron;
    font-size: .9em;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--white-purple);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.content-left {
    background-color: var(--pink-purple);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.card {
    background-color: var(--dark-lavender);
    width: 21vw;
    height: 9vw;
    border-radius: 20px;
    margin: 2em;
    padding: 1em;
    font-size: .9vw;
    display: grid;
}

.context {
    max-width: 35ch;
}

.content-right {
    background-color: var(--dark-pinkpurple);
}